In [8]:
import pandas as pd
import spacy
import os
# from spacy import displacy
# from spacy.pipeline.ner import DEFAULT_NER_MODEL
# pd.set_option('mode.chained_assignment', None)

In [9]:
os.getcwd()
C:\Users\ddawk\Downloads\fl-sunbiz-scraper\scraped_data\coach_details.csv

'c:\\Users\\ddawk\\Downloads\\fl-sunbiz-scraper\\formaters'

In [13]:
hc_relationship_df = pd.read_csv('../scraped_data/coach_details.csv')
coach_career = hc_relationship_df[hc_relationship_df.i_header == "Coaching career (HC unless noted)"]

coach_career = coach_career.iloc[: , 1:]
coach_career.head()

,i_header,i_label,i_data,title,link,coach_name,id
5,Coaching career (HC unless noted),1999,Bolles School (FL) (GA),The Bolles School,/wiki/The_Bolles_School,Ryan Silverfield,Q80119196
6,Coaching career (HC unless noted),1999,Bolles School (FL) (GA),Graduate assistant,/wiki/Graduate_assistant,Ryan Silverfield,Q80119196
7,Coaching career (HC unless noted),2000,Hampden–Sydney (off. asst.),Hampden–Sydney Tigers football,/wiki/Hampden%E2%80%93Sydney_Tigers_football,Ryan Silverfield,Q80119196
8,Coaching career (HC unless noted),2001–2002,Hampden–Sydney (DL),NaN,NaN,Ryan Silverfield,Q80119196
9,Coaching career (HC unless noted),2003,Hampden–Sydney (TE),NaN,NaN,Ryan Silverfield,Q80119196

In [ ]:

coach_career[["org", "role_1", "role_2"]] = coach_career.i_data.str.split(r'\(', expand=True)

coach_career["role"] = (coach_career.role_2).where(coach_career.role_2.notna(), coach_career.role_1)

coach_career["org"] = coach_career.org.str.replace(')','')
coach_career["org"] = coach_career.org.str.strip()

coach_career["role_1"] = coach_career.role_1.str.replace(')','')
coach_career["role_2"] = coach_career.role_2.str.replace(')','')
coach_career["role"] = coach_career.role.str.replace(')','')

coach_career["role"] = (coach_career.role).where(coach_career.role.notna(), "HC")
coach_career["coach_role"] = coach_career.role.str.split("/",expand=False)

coach_career["year"] = coach_career.i_label.str.split("–")


coach_career.drop(coach_career.columns[0], axis=1, inplace=True)

# coach_career.to_csv('coach_career.csv', index=False)
# print(coach_career.head())
print(coach_career.columns)